.ximg-description{
    width: 100%;
    background: #fff;
}
.ximg-description{
    width: 100%;
    height: 350px;
    background: transparent;
    overflow: hidden;
}
.ximg-description img{
    width: 135%;
    max-height: 400px;
    height: 100%;
    position: relative;
    left: -45px;
}
.xtext-description{
    width: 100%;
    padding: 15px;
}
.xtext-description h4{
    font-size: 1.8em;
}
.xtext-description p{
    text-align: justify;
}

.xhighlights{
    width: 100%;
    padding: 15px;
}
.xhighlight-box{
    width: 100%;
    max-width: 350px;
    height: 200px;
    background: transparent;
    margin: 20px auto;
    border: 4px solid transparent;
    box-shadow: 0px 0px 10px -2px #464646;
    overflow: hidden;
}
.xhighlight-img{
    width: 100%;
}
.ximg-left{
    position: relative;
    top: -10px;
}

@media (min-width: 500px){
    .ximg-description img{
        width: 100%;
        left: 0;
    }
}

@media (min-width: 720px){
    .xdescription-img{
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "xleft xright";
    }
    .ximg-description{
        grid-area: xleft;
        background: transparent;
    }
    .xtext-description{
        grid-area: xright;
        font-size: .8em;
    }
}

@media (min-width: 890px){
    .xhighlights{
        display: flex;
        flex-wrap: wrap;
    }
    .ximg-left{
        top: -24px;
    }
    .xtext-description{
        font-size: .9em;
        margin-left: 1em;
    }
    .ximg-description{
        padding: 3px;
        margin-top: 10px;
        box-shadow: 0px 0px 10px 0px #464646;
    }
}

@media (min-width: 1000px){
    .xtext-description{
        font-size: 1em;
    }
}
