.xbg-contact-box{
    width: 100%;
    padding-top: 70px;
    background: url('../img/bgContactFormBlueDark.webp');
}
.xcontact-box{
    width: 100%;
    max-width: 1200px;
    background-size: cover;
    margin: 0 auto;
    padding-bottom: 16px;
}
.xtitle-contact{
    text-align: center;
    padding-top: 16px;
}
.xtext-contact{
    text-align: justify;
    padding: 16px;
    font-size: 1.2em;
}

.xcontact-box-form{
    width: 100%;
}
.xcontact-box-left{
    padding: 16px;
}
.xinfo{
    background: #005B8F;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 16px;
    text-align: center;
    font-size: 1.2em;
}


.xcontact-box-right h4{
    text-align: center;
    font-size: 1.6em;
}

.xcontact-box-right ul{
    text-align: center;
    font-size: 1.5em;
}
.xrrss{
    margin-top: 25px;
}
.xrrss a{
    background: transparent;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    transition: all .7s ease;
}
.xrrss:first-child a{
    background: #3b5998;
}
.xrrss:nth-child(2) a{
    background: #00acee;
}

/* ICONO WSP  */
.xrrss:nth-child(3) a{
    background: #5851DB;
}
.xrrss:last-child a{
    background: #24BB5D;
}
.xrrss:last-child a{
    background: #24BB5D;
}


.xrrss:first-child a:hover{
    background: #5274B9;
}
.xrrss:nth-child(2) a:hover{
    background: #33C0F7 ;
}
/* COLOR ICONO WSP  */
.xrrss:nth-child(3) a:hover{
    background: #726CE3;
}
.xrrss:last-child a:hover{
    background: #25d366;
    cursor: pointer;
}
.xrrss:last-child a:hover{
    background: #25d366;
    cursor: pointer;
}

.xcontent{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 16px;
    color: #000;
    margin: 0 auto;
}
.xlocation{
    width: 100%;
    max-width: 1200px;
}

@media (min-width: 900px){
    .xcontact-box-form{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "xleft xright";
    }
    .xcontact-box-left{
        grid-area: xleft;
    }
    .xinfo{
        width: 100%;
        margin: 0 auto 16px auto;
    }
    .xcontact-box-right{
        grid-area: xright;
    }
    .xbg-contact-box{
        background-size: cover;
    }
}

@media (min-width: 1000px){
    .xinfo{
        width: 90%;
    }
    .xrrss{
        padding: 5px;
        height: 50px;
    }
    .xrrss a{
        padding: 10px;
        font-size: 1em;
        border: 3px solid #fff;
        z-index: 2;
    }
    .xrrss:first-child a,
    .xrrss:nth-child(2) a,
    .xrrss:nth-child(3) a,
    .xrrss:last-child a{
        background: transparent;
        position: relative;
        transition: all .5s ease;
    }
    .xrrss:first-child a:hover{
        border: 3px solid #5274B9;
    }
    .xrrss:nth-child(2) a:hover{
        border: 3px solid #33C0F7;
    }

    /* ICONO WSP */
    .xrrss:nth-child(3) a:hover{
        border: 3px solid #726CE3;
    }
    .xrrss:last-child a:hover{
        border: 3px solid #25d366;
    }
    .xrrss:last-child a:hover{
        border: 3px solid #25d366;
    }

    .icon-facebook, .icon-twitter, .icon-instagram, .icon-whastapp{
        font-size: 1.2em;
    }

}

@media (min-width: 1200px){
    .xinfo{
        font-size: 1.5em;
    }
}