.xslide{
    width: 100%;
    height: auto;
    max-height: 480px;
    margin-top: 0;
}
.flexslider{
    width: 100%;
    /*height: 100vh;*/
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 8;
}
.slides,
.slides li, 
.slides li img{
    width: 100%;
}
.slides li{
    margin-bottom: -40px;
}

.flex-control-nav.flex-control-paging{
    width: 120px;
    padding: 20px 0;
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15px;
    z-index: 3;
}
.flex-control-nav li{
    display: inline-block;
    margin: 0 5px;
}
.flex-control-nav li a{
    display: block;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    text-indent: -999px;
}
.flex-control-nav li a.flex-active{
    background: #353535;
    outline: none;
}

/* NAVEGACION */
.flex-direction-nav{
    z-index: 3;
    list-style: none;
}
.flex-direction-nav a{
    width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    margin-top: 100px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.flex-direction-nav a:before{
    content: '\e804';
    font-family: 'fontello';
    color: #fff;
    font-size: 2em;
}
.flex-direction-nav a.flex-next:before{
    content: '\e805';
}
.flex-direction-nav .flex-prev{
    left: 0px;
}
.flex-direction-nav .flex-next{
    right: 0px;
}
.flexslider:hover .flex-direction-nav .flex-prev{
    opacity: 1;
    left: 15px;
}
.flexslider:hover .flex-direction-nav .flex-next{
    opacity: 1;
    right: 15px;
}

/* CAPTION */
.caption{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 2;
    color: #fff;
}
.caption h2{
    font-size: 3em;
    text-shadow: -3px 4px 4px rgba(0,0,0,0.86);
}

/* RESPONSIVE */
/*
@media screen and (max-width: 770px){
    .flex-direction-nav a{
        opacity: 1;
    }
    .caption h2{
        font-size: 2em;
    }
}
@media (max-width: 1250px){
    .flexslider{
        height: auto;
    }
}*/