.foot-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.foot-left img{
    width: 100%;
}
.foot-left h3{
    text-align: center;
    font-size: 1.5em;
}
.foot-left h4{
    text-align: center;
    font-size: 1.2em;
}

.foot-right{
    margin-top: 36px;
}
.foot-right h3{
    text-align: center;
    font-size: 2em;
}

.foot-right ul li{
    font-size: 1.1em;
}
.foot-right ul li i{
    font-size: 1.4em;
}

.xline{
    border: 1px solid #fff;
    margin: 16px auto;
}

.xcopyright{
    background: #560a0a;
    text-align: center;
    padding: 5px;
    font-size: .9em;
}

@media (min-width: 415px){
    .foot-left h3{
        font-size: 1.8em;
    }
    .foot-left h4{
        font-size: 1.5em;
    }
    .foot-right h3{
        font-size: 2.4em;
    }
    .foot-right ul li{
        font-size: 1.3em;
    }
}

@media (min-width: 550px){
    .foot-left h3{
        font-size: 2.4em;
    }
    .foot-left h4{
        font-size: 1.9em;
    }
    .foot-right h3{
        font-size: 2.8em;
    }
    .foot-right ul li{
        font-size: 1.7em;
    }
}

@media (min-width: 710px){
    .foot-left h3{
        font-size: 3em;
    }
    .foot-left h4{
        font-size: 2.3em;
    }
    .foot-right h3{
        font-size: 3.5em;
    }
    .foot-right ul li{
        font-size: 2.1em;
    }
}

@media (min-width: 900px){
    .foot-content{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .foot-left{
        width: 40%;
    }
    .foot-right{
        width: 40%;
    }
    .foot-left img{
        width: 90%;
    }
    .foot-left h3{
        font-size: 1.8em;
        font-weight: bold;

    }
    .foot-left h4{
        font-size: 1.5em;
    }
    .foot-right h3{
        font-size: 2em;
        text-align: left;
        margin-left: 16px;
    }
    .foot-right ul li{
        font-size: 1.2em;
    }
}
