/* TITULOS */
.xtitle-content,
.xsubtitle-content{
    text-align: center;
    letter-spacing: 6px;
}
.xtitle-content{
    margin-top: 16px;
    font-size: 2em;
    font-weight: bold;
    line-height: .9em;
}
.xsubtitle-content{
    font-size: 1.5em;;
    padding: 1px 16px 0 16px;
}

/* LOGOS */
.xlogo-left, .xlogo-middle, .xlogo-right{
    padding: 16px;
    display: flex;
    justify-content: center;
}

.xlogo-left img, .xlogo-middle img, .xlogo-right img{
    width: 80%;
}

/* TEXTO INTRO */
.xtext{
    text-align: justify;
    padding: 2em;
}

/* SERVICIOS */
.xtitle-services{
    text-align: center;
}

.xservices{
    padding: 0 16px 16px 16px;
}

.xservice{
    width: 100%;
    height: 180px;
    margin-top: 16px;
    position: relative;
    overflow: hidden;
}

.imgbox img{
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

.details{
    width: 100%;
    height: 180px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0, .7);
    padding: 16px;
    margin-top: -56px;
    position: absolute;
}
.details h4{
    font-size: 1.5em;
}

.container-center{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.xsee-more{
    border: 3px solid #DF0000;
    position: relative;
    font-size: 1.3em;
    color: #DF0000;
    font-weight: bold;
    padding: 16px 32px;
    margin-bottom: 16px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 3;
    transition: all .5s ease;
}
.xsee-more::before{
    content: '';
    width: 120%;
    height: 0;
    background: #DF0000;
    position: absolute;
    left: -15px;
    top: -150%;
    z-index: -1;
    border-radius: 50%;
    transition: all .7s ease;
}

.xsee-more:hover{
    color: #fff;
}

.xsee-more:hover::before{
    height: 300px;
}
.xlogo-right{
    margin: 0 auto;
}
.xlogo-right img{
    width: 100%;
}


/* MEDIA QUERIES */
@media (min-width: 376px){
    .xtitle-content
    {
        font-size: 2.2em;
    }
    .xlogo-left img, .xlogo-middle img, .xlogo-right img{
        width: 90%;
    }
}

@media (min-width: 414px){
    .xtitle-content{
        font-size: 2.8em;
    }
    .xsubtitle-content{
        font-size: 1.6em;
        letter-spacing: 2px;
    }

    /* SERVICIOS */
    .xservice{
        height: 250px;
    }

    .imgbox img{
        height: 250px;
    }
}

@media (min-width: 526px){
    .xtitle-content{
        font-size: 3.4em;
        padding: 16px 16px 0 16px;
    }
    .xsubtitle-content{
        letter-spacing: 5px;
    }
}

@media (min-width: 590px){
    .xservice{
        height: 300px;
    }
    .imgbox img{
        height: auto;
    }
    .details{
        margin-top: -66px;
    }
    .details h4{
        font-size: 2em;
    }
}

@media (min-width: 670px){
    .xtitle-content{
        font-size: 2.6em;
    }
    .xsubtitle-content{
        letter-spacing: 5px;
    }
    .xlogos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }
    .xlogo-left, .xlogo-middle, .xlogo-right{
        margin: 0 10px;
    }
    .xlogo-left img{
        width: 85%;
    }
    .xservice{
        height: 350px;
    }
    .imgbox img{
        height: 340px;
    }
    .details{
        margin-top: -56px;
    }
}

@media (min-width: 780px){
    .xservice{
        height: 400px;
    }
    .imgbox img{
        height: 400px;
    }
    .details{
        margin-top: -68px;
    }
}

@media (min-width: 900px){
    .xtitle-content{
        font-size: 3em;
    }
    .xsubtitle-content{
        font-size: 2em;
    }

    .xservices{
        list-style: none;
    }
    .xservice{
        width: 33%;
        height: 200px;
        padding: 1px;
        display: inline-block;
    }
    .imgbox{
        width: 100%;
        height: 200px;
        padding: 1px;
    }
    .imgbox img{
        position: relative;
        top: -20px;
        height: 120%;
        transform: scale(1);
        transition: all .5s ease;
    }
    .details{
        height: 200px;
        font-size: .7em;
        margin-top: -55px;
        transition: all .5s ease;
    }
    .details p{
        font-size: 1.3em;
        text-align: justify;
    }
    .xservice:hover .details{
        margin-top: -200px;
    }
    .xservice:hover .imgbox img{
        transform: scale(1.5);
    }
}

@media (min-width: 1200px){
    .xlogo-left img, .xlogo-middle img{ 
        width: 70%;
    }
    .xlogo-middle img{
        position: relative;
        transform: scale(1.2);
    }
    .xlogo-right img{
        width: 60%;
        position: relative;
        top: 5px;
        transform: scale(1.2);
    }
}