@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('fontello.css');
@import url('navbar.css');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
}

body{
    min-width: 100%;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

#content{
    width: 100%;
    max-width: 1200px;
    background: #fff;
    padding-top: 70px;
    margin: 0 auto;
    color: #000;
}

footer{
    width: 100%;
    background: #8e2020;
}

a:hover{
    text-decoration: none;
}


/* ALERTA */
.xalert{
    margin: 20px auto 10px auto;
    padding: .5em 1em .5em 1em;
    color: #0c5460;
    width: 95%;
    max-width: 1100px;
    background: #d1ecf1;
    border: 3px solid #bee5eb;
    border-radius: 15px;
    text-align: justify;
}
.xalert-title{
    text-align: center;
    font-weight: bold;
}
@media (min-width: 1150px){
    .xalert{
        margin: 30px auto 15px auto;
    }
}
