header{
    width: 100%;
    height: 70px;
    max-height: 70px;
    background: #0080FF;
    position: fixed;
    z-index: 100;
}
header nav{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "logo btnmenu"
                         "navbar navbar";
}
/****************************************/
/* LOGO Y TITULO */
.xlogo{
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: center;;
}
.xlogo img{
    width: 65px;
    height: 65px;
    padding: 5px;
}
.xlogo .xtitle{
    font-size: 1.8em;
    line-height: 1em;
}
/****************************************/
/* MENU DE NAVEGACION */
.xnav-bar{
    grid-area: navbar;
    margin-right: 110%;
    display: none;
}
.xnav-bar a{
    text-decoration: none;
    color: transparent;
    text-align: center;
}
.xnav-item{
    background: #006CD8;
    padding: 16px 0;
}
.xactive{
    background: #005CB8;
    font-weight: bold;
}

/****************************************/
/* BOTON RESPONSIVE */
#xresponsive-menu{
    background: #0080FF;
    grid-area: btnmenu;
    font-size: 2.2em;
    color: #fff;
    border: none;
}

/* MEDIA QUERIES */

/* TABLETS : 768px */
@media (min-width: 768px){
    .xlogo .xtitle{
        font-size: 2em;
    }
}

/* DESKTOPS : 992px */
@media (min-width: 992px){
    header nav{
        grid-template-columns: 35% 1fr;
        grid-template-rows: 70px;
        grid-template-areas: "logo navbar";
    }

    #xresponsive-menu{
        display: none;
    }

    .xnav-bar{
        width: 100%;
        height: 70px;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 70px;
    }

    .xnav-bar a{
        color: #fff;
    }

    .xnav-item{
        background: #0080FF;
        font-size: 1.1em;
        height: 100%;
        transition: all .5s ease;
    }
    .xnav-item:hover:not(.xactive){
        cursor: pointer;
        background: #009BFF;
    }
    .xactive{
        background: #006CD8;
        border-bottom: 5px solid #fff;
    }
}

/* LARGE DESKTOPS : 1200px */
@media (min-width: 1200px){
    .xlogo .xtitle{
        font-size: 2.2em;
    }
}