body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

#xrobot{
    width: 400px;
    height: 400px;
    background: transparent;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 6em;
}
#xrobot h3{
    text-align: center;
    font-size: 1.1em;
    font-weight: 200;
}

.go-to-home{
    text-align: center;
    margin-top: 1em;
}

#xrobot a{
    padding: 1.2em;
    background: transparent;
    border-radius: 1em;
    text-decoration: none;
    color: #0080FF;
    font-size: 1.2em;
    border: 2px solid #0080FF;
    transition: all .5s ease;
}

#xrobot a:hover{
    border-radius: 1.5em;
    color: #fff;
    background: #0080FF;
}

/* MEDIA QUERIES */
@media (min-width: 650px){
    #xrobot{
        width: 550px;
        height: 550px;
        margin-bottom: 9em;
    }

    #imagen{
        width: 500px;
        height: 550px;
    }
}

@media (min-width: 992px){
    #xrobot{
        width: 700px;
        height: 700px;
        margin-bottom: 9em;
    }

    #imagen{
        width: 650px;
        height: 650px;
    }

    #xrobot h3{
        font-size: 1.2em;
    }
}