.xtitle-services{
    text-align: center;
    margin-top: 10px;
}

.xdescription{
    text-align: justify;
    margin: 16px;
}

.xmessage{
    text-align: justify;
    background: #cce5ff;
    border: 1px solid #004085;
    color: #004085;
    padding: 15px;
    margin: 16px;
    border-radius: 10px;
}

.xtitle-service-box{
    background: #086290;
    background: linear-gradient(to right, rgba(8,87,160,1) 0%, rgba(32,129,214,1) 100%);
    padding: 16px;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}
.xfirst{
    background: linear-gradient(to right, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 59%, rgba(147,206,222,1) 100%);
}


.xcontent-services{
    max-width: 1150px;
    margin: 0 auto;
    background: #e2f0ff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(226,240,255,1) 100%);
    padding: 16px;
    text-align: justify;
    color: #000;
}
.xcontent-services ul{
    width: 95%;
    margin: 0 auto;
}
.p-services{
    list-style: disc;
    margin-bottom: 1em;
}


@media (min-width: 1200px){
    .xtitle-service-box{
        border-radius: 0 0 20px 20px;
    }
    .xcontent-services:last-child{
        margin-bottom: 16px;
        border-radius: 0 0 15px 15px;
    }
    .xfirst{
        border-radius: 15px;
    }
}